name: CI

on:
  workflow_dispatch:
  push:
    branches: [main, beta, alpha]
  schedule:
    - cron: '0 3 * * *'

permissions: read-all

jobs:
  test_unit:
    name: Run Test Units
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9

      - name: Use Node.js current version
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: current

      - name: Install dependency
        run: npm ci

      - name: Build output
        run: npm run build

      - name: Run Test Units
        run: npm run test

      - name: Browser version testing
        uses: cypress-io/github-action@d69252d52b9a31bad4f418f05ba2bc83687a02eb
        with:
          command-prefix: '--'
          install: false
          browser: chrome
          build: npm run setup:client
          start: npm run start:client
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_JW_EPUB_PARSER_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_PROJECT_ID: dvtrvb
