name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [main, beta, alpha]

permissions: read-all

jobs:
  test_unit:
    name: Run Test Units
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [17.x]

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependency
        run: npm ci

      - name: Build output
        run: npm run build

      - name: Run Test Units
        run: npm run test
