name: CodeQL

on:
  push:
    branches: [main, beta, alpha]
  pull_request:
    branches: [main, beta, alpha]

permissions: read-all

jobs:
  codeql:
    name: Code QL
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository for code analysis
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Initialize CodeQL
        uses: github/codeql-action/init@7fee4ca032ac341c12486c4c06822c5221c76533
        with:
          languages: javascript
          queries: security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@7fee4ca032ac341c12486c4c06822c5221c76533
