name: CI (Pull Requests)

on:
  pull_request:
    branches: [main, beta, alpha]

permissions: read-all

jobs:
  test_unit:
    name: Run Test Units
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9

      - name: Use Node.js current version
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: current

      - name: Install dependency
        run: npm ci

      - name: Build output
        run: npm run build

      - name: Run Test Units
        run: npm run test

      - name: Browser version testing
        uses: cypress-io/github-action@d69252d52b9a31bad4f418f05ba2bc83687a02eb
        with:
          command-prefix: '--'
          install: false
          browser: chrome
          build: npm run setup:client
          start: npm run start:client
